
.container-title{
    background-image: url('../Assets/Images/cancha-4.jpg');
    width: 100vw;
    height: 60vh;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;

}

.h1-home{
    font-family: 'Be Vietnam Pro', sans-serif;
    color:rgb(253, 253, 253);
    font-size: 4rem;
    position: static;
    margin-top: 0rem;
    margin-left: 5rem;
    padding-top: 16rem;
    font-weight: 900;
    text-shadow: 1px 5px 5px rgba(65, 64, 64, 0.89);
}

.h3-home{
    font-family: 'Be Vietnam Pro', sans-serif;
    color:rgb(253, 253, 253);
    font-size: 2rem;
    margin-left: 5rem;
    margin-top: -3rem;

}
