@import "./Variables/var.css";

a:link, a:visited, a:active {
    text-decoration:none;
}

.navbar-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Be Vietnam Pro', sans-serif;
    /* position: fixed; */
}

.navbar-logo{}

.navbar-supplier{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
}

.navbar-supplier::hover{
    color: var(--colorAppleGreen);
}

.navbar-home-turn{
    padding-left: 18px;
    color: var(--colorBlack);
}

.navbar-home-turn:hover{
    color: var(--colorAppleGreen);
}

.navbar-home-gest{
    padding-left: 18px;
    color: var(--colorBlack);
}

.navbar-home-gest:hover{
    color: var(--colorAppleGreen);
}



.navbar-home-histo{
    padding-left: 18px;
    color: var(--colorBlack);
}

.navbar-home-histo:hover{
    color: var(--colorAppleGreen);

}

.navbar-home-perfil{
    padding-left: 18px;
    color: var(--colorBlack);
}

.navbar-home-perfil:hover{
    color: var(--colorAppleGreen);
}

.navbar-home{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
}

.navbar-home-inicio{
    padding-left: 10px;
    color: var(--colorBlack);

}

.navbar-home-inicio:hover{
    color: var(--colorAppleGreen);
}

.navbar-home-func{
    padding-left: 10px;
    color: var(--colorBlack);
}

.navbar-home-func:hover{
    color: var(--colorAppleGreen);
}

.navbar-home-caract{
    padding-left: 10px;
    color: var(--colorBlack);
}

.navbar-home-caract:hover{
    color: var(--colorAppleGreen);
}

.navbar-home-cont{
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
    color: var(--colorBlack);
}

.navbar-home-cont:hover{
    color: var(--colorAppleGreen);
}

.navbar-login{
    width: 130px;
    height: 45px;
    background: var(--colorAppleGreen);
    border: 1px solid #fdfcfc;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    font-size: 18px;
    margin-right: 15px;
}

.navbar-login:hover{
    background: var(--colorGrey);
    color: var(--colorAppleGreen);
}

.navbar-register{
    width: 130px;
    height: 45px;
    background: var(--colorAppleGreen);
    border: 1px solid #fdfcfc;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    font-size: 18px;
}

.navbar-register:hover{
    background: var(--colorGrey);
    color: var(--colorAppleGreen);
}

.navbar-profile{}

.button-logout{
    width: 130px;
    height: 45px;
    background: var(--colorAppleGreen);
    border: 1px solid #fdfcfc;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    font-size: 18px;
}

.button-logout:hover{
    background: var(--colorGrey);
    color: var(--colorAppleGreen);
}
