@import "./Variables/var.css";

.back-ground-register{
    background-image: url('../Assets/Images/cancha-cesped.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    padding-top: 50px;
}

.formulario-registro{
    background-color: var(--colorAppleGreen);
    width: 800px;
    height: 550px;
    padding-top: 40px;
    padding-bottom: 180px;
    margin-top: 0px;
    margin-left: 50px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px 1px #1169127c;
    /* word-wrap: break-word; */
}

.titulo-registro{
    font-family:'Be Vietnam Pro', sans-serif;
    color:#ffffff;
    margin-left: 85px;
    margin-bottom: 10px;
 
}

.parrafo-reg{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;  
    color:#dedede;
    text-align: left;
    margin-left: 90px;
    margin-bottom: 20px;
 
}

.labelnombre{
    margin-bottom: 15px;
    margin-left: 85px;
}

.labeltelefono{
    margin-bottom: 15px;
    margin-left: 85px;
}

.labelcuit{
    margin-bottom: 15px;
    margin-left: 85px;

}

.labelrazonsoc{
    margin-bottom: 15px;
    margin-left: 85px;
}

.labeladdress{
    margin-bottom: 15px;
    margin-left: 85px;
}

.labelemail{
    margin-bottom: 15px;
    margin-left: 85px;
}

.labelcontraseña{
    margin-bottom: 15px;
    margin-left: 85px;

}

.labelcontraseña2{
    margin-bottom: 15px;
    margin-left: 85px;
}

.innombre{
    width: 450px;
    height: 41px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    border: 1px solid #b1afaf;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;

}

.error-nombre{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;  
    color:#ffffff;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 90px;
    margin-top: -1%; 
}

.in-telefono{
    width: 450px;
    height: 41px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    border: 1px solid #b1afaf;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;

}

.error-phone{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;  
    color:#ffffff;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 90px;
    margin-top: -1%;
    
}

.in-cuit{
    width: 450px;
    height: 41px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    border: 1px solid #b1afaf;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
}

.error-cuit{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;  
    color:#ffffff;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 90px;
    margin-top: -1%;
    
}

.in-razon-social{
    width: 450px;
    height: 41px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    border: 1px solid #b1afaf;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
}

.error-razon-social{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;  
    color:#ffffff;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 90px;
    margin-top: -1%;
    
}

.in-e-mail{
    width: 450px;
    height: 41px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    border: 1px solid #b1afaf;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
}

.error-email{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;  
    color:#ffffff;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 90px;
    margin-top: -1%;
    
}

.in-contraseña{
    width: 450px;
    height: 41px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    border: 1px solid #b1afaf;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
}

.error-contraseña{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;  
    color:#ffffff;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 90px;
    margin-top: -1%;
}

.in-contraseña-2{
    width: 450px;
    height: 41px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    border: 1px solid #b1afaf;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;

}

.error-contraseña-2{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;  
    color:#ffffff;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 90px;
    margin-top: -1%;
    
}
.error-direccion{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;  
    color:#ffffff;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 90px;
    margin-top: 0%;
}

.message-confirm{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;  
    color:#ffffff;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 90px;
}


.buttonSubmitReg{
    width: 180px;
    height: 45px;
    margin-left: 550px;
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #fdfcfc;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
    color: var(--colorAppleGreen);

}

.buttonSubmitReg:hover{
    background: #dedede;
    color: #f7faf5;    
}

.estas-registrado{
    position: absolute;
    margin-left: 80px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.inciar-sesion{
    position: absolute;
    margin-left: 300px;
    font-family: 'Be Vietnam Pro', sans-serif;

}

.cont-map-cc{
    margin-top: -10%;

}

.autocomplete-dropdown-container{
    background:rgb(251, 251, 251);
    width: 450px;
    /* height: 41px; */
    margin-left: 85px;
    margin-top: -1%;
}

.location-search-input{
    width: 450px;
    height: 41px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    border: 1px solid #b1afaf;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 85px;
    margin-top: -25%
}

.get-suggestion{

}

.get-suggestion-descrip{
    color:rgb(0, 0, 0);
    background:rgb(255, 255, 255);

}
