:root {
    --colorGrey: #e9ebed;
    --colorBlack: #2a2d34;
    --colorAppleGreen: #81b214;
    --colorPastelGreen: #3fc959;
    --colorSlimeGreen: #179f34;
    --colorPakistanGreen: #116913;
    --colorForestGreen: #0b4619;
    --colorMikatoYellow: #ffc900;
    --colorCornSlik: #f8f1d9;
}